/pacman/pacman/bin/
/pacman/pacman/obj/
/pacman/PacmanServer/bin/
/pacman/PacmanServer/obj/
/pacman/ConnectorLibrary/bin/
/pacman/ConnectorLibrary/obj/
/pacman/PCS/bin/
/pacman/PCS/obj/
/pacman/PuppetMaster/bin/
/pacman/PuppetMaster/obj/